<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='./bootstrap.min.css' />
    <title>Document</title>
</head>
<body>
    <form action="" role="form">
        	<div class="form-group">
        <label for="">书籍名字</label><input class ="form-control"  type="text" name="book[title]"><br>
        <label for="">作者名字</label><input class ="form-control"  type="text" name="book[writer]"><br>
        <label for="">简介</label><input class ="form-control"  type="text" name="book[introduction]"><br>
        <label for="">封面</label><input class ="form-control"  type="text" name="book[image]"><br>
        <label for="">分类</label><input class ="form-control"  type="text" name="book[class]"><br>
            </div>
         <button type="button">添加</button>
    </form>
</body>
</html>