<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>评论</title>
</head>

<body>
    
    <form action="/announcement/addannouncement" role="form" method="post">
        <div class="form-group">
            <label for="">公告标题</label>
            <input class="form-control" type="text" name="announcement_title" value=<%=user.announcement_title %>>
            <br>
            <label for="">作者名字</label>
            <input class="form-control" type="text" name="announcement_author" value=<%=user.announcement_author %>>
            <br>
            <label for="">公告内容</label>
            <input class="form-control" type="text" name="announcement_contents" value=<%=user.announcement_contents %>>
            <br>
            <label for="">公告图片</label>
            <input class="form-control" type="text" name="announcement_img" value=<%=user.announcement_img %>>
            <br>
        </div>
        <button type="submit">添加</button>
    </form>
</body>

</html>